includes:
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/nesbot/carbon/extension.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    parallel:
        processTimeout: 1200.0

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    level: 5

    excludePaths:
        - bootstrap/cache/*
        - *.php.stub
        - *.stub
        - *.blade.php

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
